.ttt-login-bg{
   background-image: url('../assets/images/background.svg');
   width: 100%; 
   height: auto;
   background-size: cover;
   background-repeat: no-repeat;
   background-clip: content-box;

}
.ttt-login-bg.col-5{
    padding: 0;
}
.ttt-login-picture{
    width: 700px;
    height: 500px;
    padding:0;
    margin: 0;
    position: absolute;
    right: 20px;
}
.ttt-login-logo{
    position: absolute;
    top: 0;
    width: 60px;
    height: 60px;
    margin: 30px;
    
}
.ttt-login-form-wrapper{
    position: relative;
}
button.btn-customize {
    background-color: #FFB94A;
    border-radius:1.875rem;
    width: 150px;
    height: 50px;
    padding :0;
    border: 1px solid transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
button.btn-outline {
    background-color: white;
    border:  2px solid #FFB94A;
    color : #FFB94A;
  
}
.ttt-pointer{
    cursor: pointer;
}
input[type=email].input-customize,
input[type=password].input-customize,
input[type=text].input-customize{
    width: 100%;
    height: 3.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: 0;
}
input[type=email].input-customize:focus,
input[type=password].input-customize:focus,
input[type=text].input-customize:focus{
    box-shadow: none;
    border-left : 6px solid #FFB94A;
}
.signup-back{
    font-weight: bold;
    margin-left: 6px;
    color : #FFB94A;
}
.ttt-signup-picture{
    width: 31.25rem;
    height: 31.25rem;
    padding:0;
    margin: 0;
    position: absolute;
    right: 8rem;
}
.ttt-auth-content{
    position: relative;
    left: 1.875rem;
}
#sidebar {
    display: block;
    min-width:3.5rem;
    max-width: 3.5rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    background-color: white;
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.75);
}
#dashboard-content {

    width: calc(100% - 3.5rem);
    min-height: 100vh;
    transition: all 0.3s;
    top: 0;
    right: 0;
    
}
.sidebar-ul-customize{
    list-style-type: none;
    padding: 0;
    display: inline;

}
.sidebar-ul-customize .link-customize{
    color:#00005c;
}
.sidebar-ul-customize li{
  
    width: 3.5rem;
    height: 3.5rem;
    margin: auto;
    padding: 15px;
    transition: .15s ease-in-out;
}
.sidebar-ul-customize li:hover{
    background-color:#f8f9fa;
    border-left: 3px solid #FFB94A;
    color: #FFB94A;
   
}
.sidebar-ul-customize .active li{
    background-color:#f8f9fa;
    border-left: 3px solid #FFB94A;
    color: #FFB94A;
}
.sidebar-ul-customize li i{
   font-size: 1.5rem;
}
.avatar {
    position: relative;
    top: 1px;
    vertical-align: middle;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.avatar.img-thumbnail {
    padding: 4px;
    max-width: none;
}
.avatar-32 {
    max-height: 32px;
    width: 32px;
    height: 100%;
    font-size: 80px;
    line-height: 32px;
}
.customize-badge{
    font-size: 19px;
    color : #2323dfd7;
    
}
.customize-badge span{
    color:#e4f9ff;
    border-radius: 100%;
    background-color: #fa1616;
    width: 15px;
    height: 15px;
    font-size: 10px;
    padding: 3px 0 0 0;
    position: relative;
    top: -10px;
    left: -5px;
}
.card-customize {
    border: none !important;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.062), 0px 3px 4px 0px rgba(0, 0, 0, 0.027), 0px 1px 8px 0px rgba(0,0,0,0.12);
    border-radius: 20px !important;

}
.card-footer-customize{
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-top: none !important;
}
input[type=text].form-control-customize{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    
}
.card-header-customize {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    background-color: white !important;
}
input[type=text].form-control-customize:focus{
   box-shadow: none;
}
.card-footer-customize.fa-location-arrow{
    color:purple;
}
.media-body-customize{
    margin : 10px;
    border-radius: 12px;
    background-color: rgba(0,0,0,.03);
    flex: none !important;
    max-width: 350px;
    word-wrap: break-word;
    position: relative;
    top : -10px;
}
.card-body-customize{
    flex-grow: 1;
    overflow-y: scroll;
    position: relative;
}
#style-scroll::-webkit-scrollbar-track
{
	
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-scroll::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#style-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #b1b1b1;
}

.is-user {
  background-color: #1546DC;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1)
}

.is-other {
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1)
}

.chat-box-bottom {
  margin-top: auto;
}
.message-own {
    position: relative;
    top: 10px;
}
.chat-list-card-body-customize{
    max-height: 450px;
    overflow-y: auto;
}
.chat-list-ul-customize{
    list-style: none;
    margin : 0;
    padding : 0;
}
.chat-list-ul-customize li {
    margin-bottom: 10px;
    height: auto;
    width: 100%;
    display: block;
    padding : 3px;
    border-radius: 20px;
    transition : all .2s linear;
}
.chat-list-ul-customize li:hover {
    background-color:#f8f9fa;
}
.dropdown-customize {
    position: relative;
 
}
.dropdown-menu-customize{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    right: auto;
    bottom: auto;
    transform: translate(-41px, 40px);  
}
.dropdown-item-customize {
    display: block;
    font-size: 1rem;
    color: #212529;
    position: relative;
    right : 80px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
   
    min-width: 8rem;
    padding: .5rem 0;
}
.dropdown-item-customize a {
    text-decoration: none;
}
#alert-sidebar{
    width: 23%;
    position: fixed;
    top: 0;
    right: -23%;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
    background-color: white;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.062), 0px 3px 4px 0px rgba(0, 0, 0, 0.027), 0px 1px 8px 0px rgba(0,0,0,0.12);
}
#alert-sidebar.active{
    right: 0;
}
.alert-sidebar-content{
    height: calc(100vh - 10vh);
    overflow-y : scroll;
}

.otp-input{
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 10px;
    background-color: #ffe2e2;
    border: none;
    color :  #00005c;
    text-align: center;
    margin : 3px;
}
.otp-input:focus{
   outline: none;
}
