.loader {
width: 48px;
height: 48px;
display: inline-block;
position: relative;
-webkit-transform: rotate(45deg);
        transform: rotate(45deg);
}
.loader::before {
content: '';
width: 24px;
height: 24px;
position: absolute;
left: 0;
top: -24px;
-webkit-animation: animloader59 4s ease infinite;
        animation: animloader59 4s ease infinite;
}
.loader::after {
content: '';
position: absolute;
left: 0;
top: 0;
width: 24px;
height: 24px;
background: #ffd31d;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
-webkit-animation: animloader56 2s ease infinite;
        animation: animloader56 2s ease infinite;
}

@-webkit-keyframes animloader59 {
0% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
}
12% {
    box-shadow: 0 24px #ffd31d, 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
}
25% {
    box-shadow: 0 24px #ffd31d, 24px 24px #ffd31d, 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
}
37% {
    box-shadow: 0 24px #ffd31d, 24px 24px #ffd31d, 24px 48px #ffd31d, 0px 48px rgba(255, 255, 255, 0);
}
50% {
    box-shadow: 0 24px #ffd31d, 24px 24px #ffd31d, 24px 48px #ffd31d, 0px 48px #ffd31d;
}
62% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px #ffd31d, 24px 48px #ffd31d, 0px 48px #ffd31d;
}
75% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px #ffd31d, 0px 48px #ffd31d;
}
87% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px #ffd31d;
}
100% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
}
}
@keyframes animloader59 {
0% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
}
12% {
    box-shadow: 0 24px #ffd31d, 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
}
25% {
    box-shadow: 0 24px #ffd31d, 24px 24px #ffd31d, 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
}
37% {
    box-shadow: 0 24px #ffd31d, 24px 24px #ffd31d, 24px 48px #ffd31d, 0px 48px rgba(255, 255, 255, 0);
}
50% {
    box-shadow: 0 24px #ffd31d, 24px 24px #ffd31d, 24px 48px #ffd31d, 0px 48px #ffd31d;
}
62% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px #ffd31d, 24px 48px #ffd31d, 0px 48px #ffd31d;
}
75% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px #ffd31d, 0px 48px #ffd31d;
}
87% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px #ffd31d;
}
100% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
}
}
@-webkit-keyframes animloader56 {
0% {
    -webkit-transform: translate(0, 0) rotateX(0) rotateY(0);
            transform: translate(0, 0) rotateX(0) rotateY(0);
}
25% {
    -webkit-transform: translate(100%, 0) rotateX(0) rotateY(180deg);
            transform: translate(100%, 0) rotateX(0) rotateY(180deg);
}
50% {
    -webkit-transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
            transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
}
75% {
    -webkit-transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
            transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
}
100% {
    -webkit-transform: translate(0, 0) rotateX(0) rotateY(360deg);
            transform: translate(0, 0) rotateX(0) rotateY(360deg);
}
}
@keyframes animloader56 {
0% {
    -webkit-transform: translate(0, 0) rotateX(0) rotateY(0);
            transform: translate(0, 0) rotateX(0) rotateY(0);
}
25% {
    -webkit-transform: translate(100%, 0) rotateX(0) rotateY(180deg);
            transform: translate(100%, 0) rotateX(0) rotateY(180deg);
}
50% {
    -webkit-transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
            transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
}
75% {
    -webkit-transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
            transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
}
100% {
    -webkit-transform: translate(0, 0) rotateX(0) rotateY(360deg);
            transform: translate(0, 0) rotateX(0) rotateY(360deg);
}
}